@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

:root {
	--body-gradient-degree: 180deg;
	/*--header-gradient-degree: 45deg;*/
	--theme-main: rgba(0, 0, 0, 1);
	--theme-gradient: rgba(0, 0, 0, 1);
	--header-height: 75px;
}

body {
	background: var(--theme-main);
	background: -moz-linear-gradient(var(--body-gradient-degree), var(--theme-main) 0%, var(--theme-gradient) 100%);
	background: -webkit-linear-gradient(var(--body-gradient-degree), var(--theme-main) 0%, var(--theme-gradient) 100%);
	background: linear-gradient(var(--body-gradient-degree), var(--theme-main) 0%, var(--theme-gradient) 100%);
	background-attachment: fixed;
	color: white;
	font-family: 'Arimo', sans-serif;
}

html,body {
	margin: 0;
	width: 100%;
	height: 100%;
}

.fit-container {
	width: 100%;
	height: 100%;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.header {
	width: 100%;
	height: var(--header-height);
	z-index: 99999;
	/*opacity: 0;
	transition: opacity 200ms;*/
}

.header-container {
	width: 75%;
	height: 100%;
	margin: auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	/*border-bottom: solid white 1px;
	background: rgb(0,0,0);
	background: -moz-linear-gradient(var(--header-gradient-degree), var(--theme-main) 0%, var(--theme-gradient) 100%);
	background: -webkit-linear-gradient(var(--header-gradient-degree), var(--theme-main) 0%, var(--theme-gradient) 100%);
	background: linear-gradient(var(--header-gradient-degree), var(--theme-main) 0%, var(--theme-gradient) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#1d1d1d",GradientType=1);*/
}

.logo-container, .quick-links-container, .social-links-container {
	width: 33%;
	height: 100%;
}

.logo-container {
	text-align: left;
}

.quick-links-container {
	text-align: center;
}

.social-links-container {
	text-align: right;
}

.header-link {
	margin-left: 20px;
	margin-right: 20px;
	text-transform: uppercase;
	font-size: 18px;
	position: relative;
}

.logo {
	width: auto;
	height: 100%;
}

a {
	text-decoration: none;
	color: white;
	transition: color 200ms;
}

a:hover {
	color: rgba(255,255,255,0.8);
}

.icon {
	width: 20px;
	transition: filter 200ms;
}

.icon:hover {
	filter: invert(50%);
}

.orange-line {
	width: 120px;
	height: 15px;
	background: orange;
	border-radius: 3px;
	margin-bottom: 50px;
}

.orange-line-thin-long {
	width: 240px;
	height: 7px;
	background: orange;
	border-radius: 3px;
	margin-bottom: 50px;
}

.underline-div {
	position: absolute;
	bottom: 0;
	width: 0%;
	height: 2px;
	background: white;
	left: 0;
	transition: width 200ms;
}

.heading {
	font-family: 'Montserrat', sans-serif;
	font-size: 80px;
	font-weight: 200;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: orange;
}
::-webkit-scrollbar-thumb:active {
  background: orange;
}
::-webkit-scrollbar-track {
  background: rgb(20,20,20);
}
/*::-webkit-scrollbar-track:hover {
  background: black;
}
::-webkit-scrollbar-track:active {
  background: black;
}
::-webkit-scrollbar-corner {
  background: black;
}*/
