.publications-container {
	width: 90%;
	margin: auto;
}

.publications-header {
	width: 100%;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

.publications-title {
	font-size: 40px;
	font-weight: 100;
}

.publications {
	width: 100%;
	margin-bottom: 50px;
}

.publication-header {
	width: 50%;
	border-bottom: solid white 1px;
	margin-bottom: 20px;
	font-size: 30px;
}

.publications-description {
	width: 90%;
	margin-top: 20px;
}

.filter-icon {
	width: 15px;
	height: 15px;
}

.filter-dropdown {
	cursor: default;
	position: relative;
}

.filters-containers {
	width: 50%;
	display: flex;
	justify-content: center;
}

.filter-icon-container {
	width: 100%;
}

.filters-container-container {
	position: relative;
	top: 15%;
	display: flex;
	justify-content: center;
}

.filter-text {
	margin-right: 10px;
}

.filters-container-container>span {
	margin-right: 5px;
	margin-left: 5px;
}

.dropdown-menu {
	display: none;
	position: absolute;
	float: right;
	background-color: black;
	border: solid rgba(255,165,0,1) 1px;
	padding: 12px 16px;
	z-index: 1;
	overflow: hidden;
	width: 200px;
}

.filter-dropdown:hover .dropdown-menu {
	display: block;
}

.filter-object {
	width: auto;
	cursor: pointer;
}

.publications-list-containers {
	width: 90%;
	margin: auto;
}

.publications-tags {
	margin-bottom: 5px;
}

.button-container {
	width: 50%;
	position: fixed;
	right: 15%;
}

.buttons {
	position: absolute;
	right: 0;
	margin-top: 50px;
}

.button-label {
	position: absolute;
	right: 0;
}
